footer {
    background-color: var(--color-footer);
    width: 100dvw;
    display: flex;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 2em;
    position: relative;
}

footer p {
    margin-top: 1em;
    font-size: 1em;
}

footer a {
    color: var(--color-text-contrast);
    transition: 0.2s;
}

footer a:hover {
    color: var(--color-blue);
    font-weight: 700;
}

#footerContents {
    color: var(--color-text-contrast);
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100dvw;
    max-width: 80em;
    line-height: 2em;
    padding-left: 1em;
    padding-right: 1em;
}

#footerContents div:first-of-type{
    display: none;
}

footer img, footer svg {
    width: 2em;
    height: 2em;
    fill: white;
    transition-duration: 0.2s;
}

footer svg:hover {
    fill: var(--color-blue);
}

#socials {
    display: flex;
    gap: 1em;
}

#trainGraphic {
    position: absolute;
    height: 3em;
    width: auto;
    filter: none;
    top: -3em;
    right: 0;
}

@media (max-width: 800px) {
    #footerContents {
        grid-template-columns: 1fr 1fr;
    }

    #footerContents div:first-of-type {
        display: inline;
    }

    footer {
        margin-top: 3em;
    }
}

@media (max-width: 550px) {
    #footerContents {
        grid-template-columns: 1fr;
    }
}