footer {
    background-color: var(--color-header);
    width: 100dvw;
    display: flex;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 2em;
}

footer p {
    margin-top: 1em;
    font-size: 1em;
}

footer a {
    color: var(--color-text-contrast);
}

#footerContents {
    color: var(--color-text-contrast);
    margin: 0;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    width: 100dvw;
    max-width: 80em;
    line-height: 2em;
    padding-left: 1em;
    padding-right: 1em;
}

footer img {
    filter: invert(2);
    width: 2em;
}

#socials {
    display: flex;
    gap: 1em;
}