header {
    background-color: var(--color-header);
    align-items: center;
    color: var(--color-text-contrast);
    display: flex;
    justify-content: center;
}

header nav {
    display: flex;
    width: 100dvw;
    max-width: 80em;
    align-items: center;
    height: 5em;
    z-index: 2;
}

header a {
    padding: 2em;
    height: 5em;
    color: white;
    text-decoration: none;
}

header h2 {
    font-size: 1.5em;
    text-transform: capitalize;
    margin: 0;
    font-weight: 700;
}

header nav ul {
    display: flex;
}

header nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li:hover {
    background-color: var(--color-blue);
}

header nav ul, header nav div {
    flex: 1;
}

#projects {
    position: relative;
}

#projectsDropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 5em;
    left: 0;
    background-color: var(--color-header);
    align-items: baseline;
    display: none;
    width: max-content;
    z-index: 1;
}

#projectsDropdown li {
    justify-content: flex-start;
    height: 4em;
    width: 100%;
}

#projectsDropwodn a {
    height: 3em;
    width: 100%;
}

#projects:hover #projectsDropdown {
    display: flex;
    animation-name: dropdownAnimation;
    animation-duration: 0.3s;

}

@keyframes dropdownAnimation {
    0% {
        top: 3em;
        opacity: 0;
    }

    100% {
        top: 5em;
        opacity: 1;
    }
}