main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main>section:first-of-type {
    height: 60dvh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: max-content;
}

main>section:first-of-type p {
    max-width: 35em;
    font-size: 1.2em;
}

h1 {
    font-size: 5em;
    font-weight: 800;
}

.name {
    color: var(--color-blue);
    animation-name: name;
    animation-duration: 1.6s;
    animation-timing-function: steps(1, end);;
}

@keyframes name {
    0% {
        color: var(--color-blue);
    }

    3% {
        color: rgb(255, 141, 141);
    }

    6% {
        color: rgb(88, 174, 255);
    }
    
    11% {
        color: #ffcc5f;
    }

    17% {
        color: #ff75f1;
    }

    25% {
        color: #53b4ec;
    }

    36% {
        color: #ff788f;
    }

    50% {
        color: #78beff;
    }

    66% {
        color: #ffc778;
    }

    80% {
        color: #ff75f1;
    }

    100% {
        color: var(--color-blue);
    }
}

main a {
    margin-bottom: 8em;
}

section.item {
    width: 100dvw;
    max-width: 80em;
    background-color: var(--color-background-box);
    padding: 1.5em;
    position: relative;
    transition-duration: 0.5s;
    height: max-content;
    min-height: 15em;
}

section.item:hover {
    background-color: var(--color-background-box-hover);
}

section.item h2 {
    font-size: 2em;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

section.item p {
    width: 35em;
    max-width: 50%;
}

p.tagDev {
    background-color: rgb(113, 186, 255);
    border-radius: 5em;
    padding: 0.2em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    width: max-content !important;
    height: max-content !important;
}

p.tagUxUi {
    background-color: rgb(255, 166, 166);
    border-radius: 5em;
    padding: 0.2em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    width: max-content !important;
    height: max-content !important;

}

p.tagUi {
    background-color: rgb(219, 162, 255);
    border-radius: 5em;
    padding: 0.2em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    width: max-content !important;
    height: max-content !important;
}

p.tagUxProduct {
    background-color: rgb(255, 198, 162);
    border-radius: 5em;
    padding: 0.2em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    width: max-content !important;
    height: max-content !important;
}

section.item img {
    max-height: 16em;
    position: absolute;
    filter: drop-shadow(0px 0px 10px #22222295);
    transition-duration: 0.5s;
    max-width: 40%;
}

section.item img:first-of-type {
    right: 2em;
    top: -3em;
}

section.item img:nth-of-type(2) {
    right: 12em;
    top: 1em;
}

section.item:hover img:first-of-type {
    top: -5em;
}

section.item:hover img:nth-of-type(2) {
    top: -2em;
}

section.inProgress {
    padding: 1em;
    margin-bottom: 5em;
    width: 100dvw;
    max-width: 80em;
}

section.inProgress h2 {
    font-size: 2em;
    margin: 0;
}

section.inProgress h3 {
    font-weight: 400;
    margin: 0;
}

section.inProgress p:last-of-type {
    max-width: 35em;
}

@media (max-width: 800px) {
    main>section:first-of-type {
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 3em;
        padding-bottom: 2em;
        height: max-content;
    }
    
    h1 {
        font-size: 4em;
        margin-bottom: 0.2em
    }

    section.item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    section.item img {
        position: static;
        display: block;
        max-width: 80%;
        max-height: 40vh;
        margin-top: 1em;
    }

    section.item p {
        max-width: 100%;
    }
}