@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;600;700;800&display=swap');

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

:root {
    --color-background: #F0EDD8;
    --color-background-box: #D4D0BA;
    --color-background-box-hover: #b9b5a2; 
    --color-yellow: #FFF828;
    --color-blue: #6D7DDE;
    --color-pink: #E41CAB;

    --color-header: #1d1d1d;
    --color-text: #000000;
    --color-text-contrast: #FFFFFF

    
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: outfit, komet, helvetica, sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
}

@media (prefers-reduced-motion) {
    * {
        animation: none !important;
    }
}